body{
  font-family: tahoma;
}





/*--- NavBar Links ---*/

#active{
  font-weight: bold;
  color: white !important;
}
.nav-link{
    font-size: 1.2em;
    padding-left: 1em !important;
}
.nav-item{
  color: black;
}


.navbar-brand{
  font-weight: bold;
  margin-right: 5%;
  margin-left: 3%;
  font-size: 1.5em;
}




.card-foot{
  margin: auto;
  /* margin-bottom: 3%; */
}

.card-foot button{
  /* margin-left: auto; margin-right: auto; */
  /* background-color: pink; */
  width: 90%;
}

/*-----------*/

.card-img-top{
  width: 99%;
  height: 60%;

}

.card-text{
  height: 40%;
  margin-bottom: 6%;
}

.card{
  width: 100%;
  height: 100%;
  margin-left: auto;
   margin-right: auto;
   margin-top: 2%;
   /* display: inline-block; */
}

/*-----------*/

/* .logos {
  height: 30px;
  /*background-color: green;*/
  /* margin:  10px; */
  /* float: right;} */


.card-title h5{
  font-weight: bold;
}
.logos{
  height:30px;
  width: 150px;
  float:right;

}

.logo-bg{
  background-size: 30px 30px;
  background-repeat: no-repeat;
  height: 100%;
  width:25%;
   display: inline;
   float: left;

}

#twitter{
  background-image: url("img/twitter-white-128.png");

}
#twitter:hover{
  background-image: url("img/twitter-gray-128.png");
}

#linked-in{
  background-image: url("img/linkedin-white-128.png");

}
#linked-in:hover{
  background-image: url("img/linkedin-gray-128.png");
}


#github{
  background-image: url("img/github-white-128.png");

}
#github:hover{
  background-image: url("img/github-gray-128.png");
}

#email{
  background-image: url("img/email-white-128.png");

}
#email:hover{
  background-image: url("img/email-gray-128.png");
}





/*--------------------------*/



.center:{

  width: 50%;
  float: left;
  background-color: pink;
}

img{
  max-width: 100%;
  max-height: 100%;
  margin-left: 2px;
  margin-right: 2px;
}


h1{
  text-align: center;
  margin-bottom: 2%;
}

/*------*/

.main-text{
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 5%;
  margin-bottom: 0%;
}

.main-text p{
  margin-bottom: 10%;
}
