body{
  font-family: tahoma;
}



img{
  max-width: 100%;
  max-height: 100%;
  margin-left: 2px;
  margin-right: 2px;
}


h1{
  text-align: center;
  margin-bottom: 2%;
}




/*--- Project Cards ---*/
.btn-div{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;"
}

.btn-div a {
  width: 100%;
}


.card-footer {
  background-color: white;
  border: none;
}
/*-----------*/

.card-img-top{
  width: 99%;
  height: 60%;

}

.card-text{
  height: 40%;
  margin-bottom: 6%;
}

.card{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border: 1px solid black;
  border-radius: 5px;
   /* display: inline-block; */
}


.card-body{
  /* use padding-bottom to adjust vertical position of Project & Github buttons*/
  padding-bottom: 2%;
  background-color: white;
  border: none !important;
}

.card-title h5{
  font-weight: bold;
}



/*--- NavBar Links ---*/

#active{
  font-weight: bold;
  color: white !important;
}
.nav-link{
    font-size: 1.2em;
    padding-left: 1em !important;
}
.nav-item{
  color: black;
}


.navbar-brand{
  font-weight: bold;
  margin-right: 5%;
  margin-left: 3%;
  font-size: 1.5em;
}



/*--- Social Media/Email Favicons in Navbar ----*/
.logos{
  height:30px;
  width: 150px;

}

.logo-bg{
  background-size: 30px 30px;
  background-repeat: no-repeat;
  height: 100%;
  width:25%;
  display: inline;
  float: left;

}

 @media (max-width: 991px) and (min-width:600px){
  .logos-flt{
  float: left;
  margin-left: 2%;
  }
}

@media (max-width: 599px){
 .logos-flt{
 float: left;
 margin-left: 4%;
 }
}

@media (min-width: 992px){
  .logos-flt{
    float: right;
    margin-left: auto;
  }
}

#twitter{
  background-image: url("img/twitter-white-128.png");

}
#twitter:hover{
  background-image: url("img/twitter-gray-128.png");
}

#linked-in{
  background-image: url("img/linkedin-white-128.png");

}
#linked-in:hover{
  background-image: url("img/linkedin-gray-128.png");
}


#github{
  background-image: url("img/github-white-128.png");

}
#github:hover{
  background-image: url("img/github-gray-128.png");
}

#email{
  background-image: url("img/email-white-128.png");

}
#email:hover{
  background-image: url("img/email-gray-128.png");
}


/*--- Head Shot Media Queries ---*/
@media (min-width: 992px){
 .head-shot{
   border-radius: 50%;
   height: 60%;
   width: 60%;
  }
  .head-shot-div{
      margin-top: 5%;
  }
}

@media (max-width: 991px){
 .head-shot{
   border-radius: 50%;
   height: 25%;
   width: 25%;
  }
  .head-shot-div{
      margin-top: 3%;
  }
}


@media (max-width: 700px){
 .head-shot{
   border-radius: 50%;
   height: 40%;
   width: 40%;
  }
  .head-shot-div{
      margin-top: 3%;
  }
}


/*--------------------------*/



.center:{

  width: 50%;
  float: left;
  background-color: pink;
}


/*------*/

.main-text{
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 5%;
  margin-bottom: 0%;
}

.main-text p{
  margin-bottom: 10%;
}
